@import '../../styles/mixins';
.container {

  .wrapper {
    @include flexCenter;

    margin: 0 auto;
    width: 100%;

    .innerWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 413px;
      padding: 35px 33px;

      background: #fff;
      border-radius: 10px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);


      .title {
        margin-bottom: 41px;

        font-size: 26px;
        font-weight: 600;
        line-height: 32px;
        color: #000000;
      }

      .emptyPack{
        width: 200px;
        height: 200px;
      }

      .discription {
        margin: 20px 0;

        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;
        color: #000000;
        text-align: center;

        opacity: 0.5;
      }

    }
  }
}


