.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  padding: 5px;

  .logoLink {
    text-decoration: none;

    .logo {
      width: auto;
      height: 50px;
      transition: 0.5s;
    }

    .logo:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}
