.cover {
  padding: 22px 24px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.description {
  padding: 0 24px 22px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}