@import '../../../styles/mixins';

.tr {
  @include tr;
  &:hover {
    opacity: 0.8;
    transition: all .2s ease-in-out;
  }

  .td {
    padding-left: 36px;
    @include td;
    word-break: break-word;
    border-bottom: 1px solid rgba(210, 210, 210, 0.9);


    .packInfo {
      display: flex;
      align-items: center;
      column-gap: 12px;

      .title {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        opacity: .7;
        transition: all .2s ease-in-out;
      }

      .img {
        padding: 0;
        min-height: 30px;
        max-height: 30px;
        min-width: 50px;
        max-width: 50px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2px;
      }
    }
  }

  .iconContainer {
    display: flex;
    column-gap: 12px;
    align-items: center;

    .icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .disIcon {
    background-color: rgba(128, 128, 128, 0.02);
    opacity: .9;
  }
}

.packTitle {
  cursor: pointer;
}

